@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #080810;
  --fg: #e2e2f0;
}

body {
  background: #080810;
  color: #e2e2f0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}
